*{
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

body{
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    max-width: 25rem;
    border-radius: 1rem;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
}

.card > img{
    width: 100%;
}

.card__body{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
}

.card__title{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    margin-bottom: 1rem;
}

.card__text{
    color: hsl(224, 23%, 55%);
    font-weight: 500;
}

.plan{
    margin: 1.5rem 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 0.5rem;
}


.plan__details{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: 1.2rem;
    color: hsl(224, 23%, 55%);
}

.plan__details span:first-child{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    margin-bottom: 0.2rem;
}

.plan > a{
    font-weight: 700;
    color: hsl(245, 75%, 52%);
}

.card__body button:first-of-type{
    border-radius: 0.7rem;
    border: 0;
    padding: 1rem 0;
    margin-bottom: 1rem;
    color: white;
    font-weight: 900;
    background-color: hsl(245, 75%, 52%);
    box-shadow: 0 1rem 1rem hsla(245, 75%, 52%, 0.24);
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.card__body button:last-of-type{
    background-color: transparent;
    border: 0;
    color: hsl(224, 23%, 55%);
    font-weight: 900;
    padding: 1rem 0;
    cursor: pointer;
}

.plan>a:hover{
    color: hsla(245, 75%, 52%, 0.667);
    text-decoration: none;
}

.card__body button:first-of-type:hover{
    background-color: hsla(245, 75%, 52%, 0.667);
}

.card__body button:last-of-type:hover {
    color: hsl(223, 47%, 23%);
}

@media screen and (max-width: 460px) {
    body{
        background-image: url("./images/pattern-background-mobile.svg");
        background-size: 100%;
        height: auto;
        margin: 3rem 1.5rem;
    }
}


